.news-adv
{
    background-color: $grey-bgc;
    &__wrapper
    {
        display: flex;

        padding: rem(63) 0 rem(82) 0;

        justify-content: space-between;
    }
    &__item
    {
        flex: 1 1 0;
    }
}

.news
{
    &__header
    {
        margin-bottom: rem(48);

        @include text($Ubuntu-medium, $main-black, 24);
    }
}

.banners
{
    &__header
    {
        @extend .news__header;
    }
}

.article
{
    display: flex;

    align-items: flex-start;
    &:first-child
    {
        padding-bottom: rem(30);
    }
    &__picture
    {
        position: relative;
    }
    &__date
{
    position: absolute;
    top: rem(10);
    left: rem(-18);

    display: flex;

    flex-flow: column;
}
&__month,
&__day
{
    display: flex;

    width: rem(40);
    height: rem(40);

    justify-content: center;
    align-items: center;
}

    &__month
    {
        background-color: $blue;

        @include text($Ubuntu-regular, $white, 15);
    }
    &__day
    {
        background-color: $yellow;

        @include text($Ubuntu-regular, $main-black, 18);
    }
    &__content
    {
        overflow: hidden;

        padding: rem(5) rem(35);
    }
    &__header
    {
        display: block;

        margin-bottom: rem(10);

        cursor: pointer;

        @include text($Ubuntu-medium, $main-black, 16);
        &:hover
        {
            color: $blue;
        }
    }
    &__info
    {
        margin-bottom: rem(25);

        @include text($Arial, $grey-text, 13, 400);
        &-link
        {
            text-decoration: none;

            color: $blue;
        }
    }
    &__text
    {
        line-height: rem(20);

        overflow: hidden;

        max-height: rem(80);

        @include text($Arial, $grey-text, 13, 400);
    }
}

.accordion
{
    &__panel
    {
        margin-bottom: rem(5);
        &:last-child
        {
            margin-bottom: 0;
        }
    }
    &__header
    {
        display: flex;

        cursor: pointer;
        text-transform: uppercase;

        border: $border-grey;
        background-color: $white;

        @include text($Ubuntu-regular, $main-black, 13);
        &--active
        {
            color: $white;
            background-color: $yellow;
        }
        &-icon
        {
            font-size: rem(15);

            width: rem(10);
            padding: rem(13) rem(15);
            padding-top: rem(11);

            text-align: center;

            border-right: $border-grey;
        }
        &-caption
        {
            padding: rem(13);
        }
    }
    &__content
    {
        display: none;

        max-height: rem(95);
        padding: rem(30) rem(37);
    }
    &__content--visible
    {
        display: block;
    }
    &__text
    {
        @extend .article__text;
    }
}
