    .filter__btn {
        color: $white;
        font-family: Rubik;
        font-size: 16px !important;
        line-height: 24px !important;
        padding: .5rem .5rem !important;

        &--orange {
            background: $orange;
        }

        &--green {
            background: $green;
        }
    }

    .show {
        &-all {
            background: #EDF6F1;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            color: $green;
            font-family: Rubik;
            font-size: 14px;
            line-height: 18px;
        }

        &-more {
            background: #EDF6F1;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            &__link {
                color: $green;
                font-family: Rubik;
                font-size: 14px;
                line-height: 18px;

                &:hover {
                    color: $green;
                    text-decoration: none;
                }
            }
        }
    }