.news {
    background: #f9f9f9;

    .shadow {
                box-shadow: 0 0 .5rem 0.1rem rgba(0, 0, 0, .15) !important;
            }

    .card {
        &-title {
            color: $black;
            font-family: Rubik;
            font-size: 16px;
            font-weight: bold;
            line-height: 24px;
            padding: 15px 20px;
        }
    }

    .article {
        font-family: Rubik;
        font-size: 14px;
        line-height: 16px;

        &__title {}

        &__link {
            color: $green;
            font-size: 14px;
            line-height: 18px;
            display: block;


        }

        &__datetime {
            color: $grey;
        }

        &__content {
            color: $grey;
        }
    }
}