.chat-bot-widget_hiuDVTgASY .modal_hiuDVTgASY {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.chat-bot-widget_hiuDVTgASY .open-modal_hiuDVTgASY {
    background: url(images/bot.png) 0 0 no-repeat;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 15px;
    right: 10px;
    z-index: 999;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

/* Modal Content */
.chat-bot-widget_hiuDVTgASY .modal-content_hiuDVTgASY {
    position: fixed;
    background-color: #fefefe;
    bottom: 20px;
    right: 10px;
    border-radius: 4px;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}


/* Add Animation */
.chat-bot-widget_hiuDVTgASY @-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.chat-bot-widget_hiuDVTgASY @keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

.chat-bot-widget_hiuDVTgASY @-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.chat-bot-widget_hiuDVTgASY @keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}




.chat-bot-widget_hiuDVTgASY .modal-header_hiuDVTgASY {
    padding: 10px;
    color: black;
    text-align: center;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0px 0;
}

.chat-bot-widget_hiuDVTgASY .modal-header_hiuDVTgASY a {
    color: #ccc;
    margin-right: 10px;
}

.chat-bot-widget_hiuDVTgASY .modal-header_hiuDVTgASY a:hover,
.chat-bot-widget_hiuDVTgASY .modal-header_hiuDVTgASY a:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.chat-bot-widget_hiuDVTgASY .modal-body_hiuDVTgASY {
    padding: 10px;
    background: #e9eef4;
    overflow-y: scroll;
    height: 300px;
}

.chat-bot-widget_hiuDVTgASY .modal-footer_hiuDVTgASY {
    padding: 10px;
    color: black;
    background: #e9eef4;
    border-radius: 0 0 5px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-bot-widget_hiuDVTgASY .modal-footer_hiuDVTgASY input {
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
    padding: 0 5px;
    width: 75%;
    height: 32px;
}
.chat-bot-widget_hiuDVTgASY button {
    background: blue;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    display: block;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    height: 34px;
}


.chat-bot-widget_hiuDVTgASY p {
    padding: 0;
    margin: 0;

}

.chat-bot-widget_hiuDVTgASY button,
.chat-bot-widget_hiuDVTgASY input,
.chat-bot-widget_hiuDVTgASY p{
    font-size: 14px;
    line-height: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


.chat-bot-widget_hiuDVTgASY .msg_hiuDVTgASY {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.chat-bot-widget_hiuDVTgASY .darker_hiuDVTgASY {
    border-color: #ccc;
    background-color: #ddd;
}

.chat-bot-widget_hiuDVTgASY .msg_hiuDVTgASY::after {
    content: "";
    clear: both;
    display: table;
}

.chat-bot-widget_hiuDVTgASY .msg_hiuDVTgASY img {
    float: left;
    width: 100%;
}

.chat-bot-widget_hiuDVTgASY .msg_hiuDVTgASY img.avatar {
    border-radius: 50%;
    max-width: 60px;
    margin-right: 20px;
}

.chat-bot-widget_hiuDVTgASY .msg_hiuDVTgASY img.wallet {
    width: 110px;
    height: 34px;
    padding: 5px 0;
}

.chat-bot-widget_hiuDVTgASY .msg_hiuDVTgASY img.right {
    float: right;
    margin-left: 20px;
    margin-right: 0;
}



@media screen and (max-width: 767px) {
    .chat-bot-widget_hiuDVTgASY .modal_hiuDVTgASY {
        padding: 0;
    }

    .chat-bot-widget_hiuDVTgASY .modal-content_hiuDVTgASY {
        max-width: 100% !important;
        height: 100%;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .chat-bot-widget_hiuDVTgASY .modal-body_hiuDVTgASY {
        height: calc(100% - 115px);
    }

    .chat-bot-widget_hiuDVTgASY .modal-footer_hiuDVTgASY button {
        width: 20%;
    }
}