<section class="slider wrapper">
    <h2 class="slider__header">
        <span class="slider__header-span slider__header-span--1">Build</span>
        <span class="slider__header-span slider__header-span--2">your</span>
        <span class="slider__header-span slider__header-span--3">business</span>
    </h2>

    <div class='jcarousel'>
        <ul class="jcarousel__nav">
            <li class="jcarousel__item">
                <img class="jcarousel__img" src="img/carousel-1.jpg" alt="picture 1">
            </li>
            <li class="jcarousel__item">
                <img class="jcarousel__img" src="img/carousel-1.jpg" alt="picture 2">
            </li>
            <li class="jcarousel__item">
                <img class="jcarousel__img" src="img/carousel-1.jpg" alt="picture 3">
            </li>
        </ul>

        <div class="jcarousel__pagination">

        </div>
    </div>

</section>
