<footer class="footer">
    <section class="footer__links">
        <div class="footer__wrapper wrapper">
            <nav class="footer-nav">
                <h4 class="footer-nav__header">Socials</h4>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item"><a target="_blank" href="https://www.facebook.com/" class="footer-nav__link">Facebook</a></li>
                    <li class="footer-nav__item"><a target="_blank" href="https://www.flickr.com/" class="footer-nav__link">Flickr</a></li>
                    <li class="footer-nav__item"><a target="_blank" href="https://twitter.com/" class="footer-nav__link">Twitter</a></li>
                    <li class="footer-nav__item"><a target="_blank" href="https://vimeo.com/" class="footer-nav__link">Vimeo</a></li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <h4 class="footer-nav__header">Links</h4>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">How to Write a Blog</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Create a Blog in 4 Steps</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">15 Tips to Increase Traffic</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">20 Blog Post Ideas</a></li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <h4 class="footer-nav__header">Blogroll</h4>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Blogs Blog</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Roll Up Roll Up</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Blog Free</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Wordpress Blog</a></li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <h4 class="footer-nav__header">About us</h4>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Agriculture</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Harvest</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Company news</a></li>
                    <li class="footer-nav__item"><a href="#" class="footer-nav__link">Investor relations</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <section class="footer__contacts">
        <div class="footer__wrapper wrapper">
            <p class="footer__contacts-item footer__address">BuildHomeLtd. Street Name 123 23 45 Cityname</p>
            <a href="tel: +123 900 123 456" class="footer__contacts-item footer__tel">+123 900 123 456</a>
            <a href="mailto: info@buildhome.web" class="footer__contacts-item footer__email">info@buildhome.web</a>
            <p class="footer__contacts-item footer__copyright">© 2014 Build Home</p>
        </div>
    </section>
</footer>
