<section class="logos wrapper">
	<ul class="logos__list">
		<li class="logos__item"><a href="#" class="logos__link"><img src="img/logo1.png" alt=""></a></li>
		<li class="logos__item"><a href="#" class="logos__link"><img src="img/logo2.png" alt=""></a></li>
		<li class="logos__item"><a href="#" class="logos__link"><img src="img/logo3.png" alt=""></a></li>
		<li class="logos__item"><a href="#" class="logos__link"><img src="img/logo4.png" alt=""></a></li>
		<li class="logos__item"><a href="#" class="logos__link"><img src="img/logo5.png" alt=""></a></li>
		<li class="logos__item"><a href="#" class="logos__link"><img src="img/logo6.png" alt=""></a></li>
	</ul>
</section>