<section class="services">
    <div class="wrapper">
        <h3 class="services__header">Our Services</h3>
        <div class="services__links">
            <div class="services__item">
                <figure class='service'>
                    <a href="#" class="service__link">
                        <p class='service__wrapper'>
                                <img src="img/man.jpg" alt="Man in work" class="service__image">
                        </p>
                        <figcaption class="service__header">Schemg s Services</figcaption>
                    </a>
                </figure>

            </div>
            <div class="services__item">
                <figure class='service'>
                    <a href="#" class="service__link">
                        <p class='service__wrapper'>
                            <img src="img/car.jpg" alt="Car picture" class="service__image">
                        </p>
                        <figcaption class="service__header">Preventive Maintence</figcaption>
                    </a>
                </figure>
            </div>
            <div class="services__item">
                <figure class='service'>
                    <a href="#" class="service__link">
                        <p class='service__wrapper'>
                            <img src="img/pipes.jpg" alt="Pipes picture" class="service__image">
                        </p>
                        <figcaption class="service__header">Tire & Wheel Services</figcaption>
                    </a>
                </figure>
            </div>
            <div class="services__item">
                <figure class='service'>
                    <a href="#" class="service__link">
                        <p class='service__wrapper'>
                            <img src="img/pipes2.jpg" alt="Pipes picture 2" class="service__image">
                        </p>
                        <figcaption class="service__header">Repair Services</figcaption>
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>