       @import "app/_variables";
       @import "app/_header.scss";
       @import "app/_nav.scss";
       @import "app/_media767.scss";
       @import "app/_search.scss";
       @import "app/_banner.scss";
       @import "app/_result_block.scss";
       @import "app/_main.scss";
       @import "app/_navigation_block.scss";
       @import "app/_news.scss";
       @import "app/_pharmacy_block.scss";
       @import "app/_pharmacy_product.scss";
       @import "app/_pharmacy_order.scss";
       @import "app/_buttons.scss";
       @import "app/_breadcrumbs.scss";
       

       * {
           margin: 0;
           padding: 0;
       }

       * {
           -webkit-box-sizing: border-box;
           box-sizing: border-box;
       }

       html {
           height: 100%;
       }

       body {
           font-size: 14px;
           font-family: 'Rubik', sans-serif;
           width: 100%;
           height: 100%;
           margin: 0;
           background-color:#F9F9F9!important;
       }


       input,
       button,
       textarea {
           outline: none;
       }

       input[type=checkbox] {
           position: absolute;

           clip: rect(0, 0, 0, 0);
       }

       .clearfix {
           clear: both;
       }


       .wrapper {
           width: 100%;
           min-height: 100%;
           margin: 0 auto;
       }



       :focus::-webkit-input-placeholder {
           color: transparent;
       }

       :focus::-moz-placeholder {
           color: transparent;
       }

       :focus:-moz-placeholder {
           color: transparent;
       }

       :focus:-ms-input-placeholder {
           color: transparent;
       }

       ::-webkit-input-placeholder {
           color: #3a4144;
       }

       ::-moz-placeholder {
           color: #3a4144;
       }

       /* Firefox 19+ */

       :-moz-placeholder {
           color: #3a4144;
       }

       /* Firefox 18- */

       :-ms-input-placeholder {
           color: #3a4144;
       }