@font-face {
    font-family: 'Ubuntu regular';
    src: url('../fonts/ubuntucondensed-regular-webfont.woff2') format('woff2'),
    url('../fonts/ubuntucondensed-regular-webfont.woff') format('woff');
}


@font-face {
    font-family: 'Ubuntu light';
    src: url('../fonts/ubuntu-light-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-light-webfont.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu medium';
    src: url('../fonts/ubuntu-medium-webfont.woff2') format('woff2'),
    url('../fonts/ubuntu-medium-webfont.woff') format('woff');
}
